<div class="container">
  <div class="content">
    <p class="my-5 display-2 text-center">Sobre nosotros</p>
    <p>Somos una empresa con catorce años de experiencia en el mercado, en éste tiempo hemos llegado a ser uno de los distribuidores más completos y comprometidos con nuestros aliados en todo lo relacionado con tecnología.
      <br>
      <br>
      En estos años hemos realizado importantes enlaces comerciales con grandes y pequeñas empresas, para así poder dar los mejores precios y la mejor calidad con garantías reales y productos exclusivos.
      <br>
      <br>
      Nos destacamos por ser importadores directos y distribuidores autorizados de las mejores marcas como lo son ASUS, MSI, AMD, INTEL, COOLER MASTER, TOSHIBA, LG, SAMSUNG, ACER, EPSON, HP, GIGABYTE, WACOOM, CANON entre otras.
      <br>
      <br>
      Entre nuestros productos contamos con boards, procesadores, fuentes de poder, memorias RAM, tarjetas de video, discos duros, cajas ATX, monitores, controladoras, unidades, enclosure, redes, tarjetas de sonido; pero lo que más nos destaca, es la asesoría y acompañamiento a nuestros clientes para cumplir con sus necesidades y que lleven el producto que están buscando al mejor precio.
      <br>
      <br>
      Para SYM es un nuevo tiempo, por eso cambia su identidad gráfica y nos renovamos en todos los aspectos. Como el Halcón, nos preparamos para volar aún más alto y así cumplir nuestra meta, llegar a ser el principal distribuidor de tecnología en la ciudad de Bogotá y a nivel nacional. Seremos la empresa más reconocida y más confiable de Tecnología en el País.</p>
  </div>
</div>
