<div class="container">
  <div class="content">
    <p class="text-center display-2 my-4"><b>Inicio</b></p>
    <p class="display-5">Productos destacados</p>
    <div class="row">
      <div class="card col-md-3 mx-3 my-3" style="width: 18rem; border-radius: 25px;">
<!--        <img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
          <h5 class="card-title text-center">Producto 1</h5>
          <hr class="bg-danger" style="height: 2px;">
          <p class="card-text">Descripción de mi primer
            producto. Aquí van diferentes
            especificaciones del mismo, se
            puede ubicar la descripción corta
            de no más de 255 caracteres</p>
        </div>
      </div>
      <div class="card col-md-3 mx-3 my-3" style="width: 18rem; border-radius: 25px;">
        <!--        <img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
          <h5 class="card-title text-center">Producto 2</h5>
          <hr class="bg-danger" style="height: 2px;">
          <p class="card-text">Descripción de mi primer
            producto. Aquí van diferentes
            especificaciones del mismo, se
            puede ubicar la descripción corta
            de no más de 255 caracteres</p>
        </div>
      </div>
      <div class="card col-md-3 mx-3 my-3" style="width: 18rem; border-radius: 25px;">
        <!--        <img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
          <h5 class="card-title text-center">Producto 3</h5>
          <hr class="bg-danger" style="height: 2px;">
          <p class="card-text">Descripción de mi primer
            producto. Aquí van diferentes
            especificaciones del mismo, se
            puede ubicar la descripción corta
            de no más de 255 caracteres</p>
        </div>
      </div>
    </div>
    <p class="display-5 my-5">Categorias destacadas</p>
    <div class="row text-center">
      <div class="col-md-3">
        <button type="button" class="my-3 rounded-pill btn btn-warning px-5 py-2">PC Gamer</button>
      </div>
      <div class="col-md-3">
        <button type="button" class="my-3 rounded-pill btn btn-danger px-5 py-2">Portatiles</button>
      </div>
      <div class="col-md-3">
        <button type="button" class="my-3 rounded-pill border border-dark btn btn-light px-5 py-2">Teclados</button>
      </div>
    </div>
  </div>
</div>
